<h1>show.html.erb</h1>
<p>category: 
	<%= get_category(@post.category_id)
	%>
</p>
<p>topic: <%=@post.topic%></p>
<hr />
<p>content:</p>
<blockquote>
	<%=simple_format(@post.content)%>
</blockquote>
<%= link_to "back to list", posts_path() %>
<!-- add comment field-->
<%#= form_for init_post_comment(@post),:url => newComment_post_path(@post) do |f| %>
		<%#= f[:comments].each do |m|%>
			<%#= m.fields_for :msg do |m| %>
				<!-- <p> -->
					<%#= m.label :msg, "statement" %>
					<%#= m.text_field :msg%>
				<!-- </p> -->
			<%#end%>
		<%#end%>
    <%#= f.submit "add comment"%>
<%#end%>

<!-- list comment -->
<!-- listComment_post_path(@post) -->