<h1>show.html.erb</h1>
<p>category: 
	<%= get_category(@post.category_id)
	%>
</p>
<p>topic: <%=@post.topic%></p>
<hr />
<p>content:</p>
<blockquote>
	<%=simple_format(@post.content)%>
</blockquote>
<%= link_to "back to list", posts_path() %>
<!-- add comment field-->

<!-- list comment -->